[Unit]
Description=Run Hardcore Radio sync every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
AccuracySec=30s
Unit=hcr-sync.service

[Install]
WantedBy=timers.target
